
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.vscode/

.DS_Store
*.swp
*~


*.db
*.sqlite
*.sqlite3
log/
.sqlitedata
.cache

.env
*.cache

/dist
/build
demos/
run_db_setup.py
spotipy_teste.py
to_dataframe.ipynb
ideias_novas.txt
extracao_letras.ipynb
extracao_letras.py
extracaoo_emocoes.py